{% extends "base.html" %}
{% load static %}

{% block title %}Add new Ledger{% endblock %}
{% block css %}
  {{block.super}}
   <link rel="stylesheet" href="{% static 'lib/css/plugins/select2-min.css' %}">
    <style type="text/css">

    </style>

    {% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12" ng-app="coAccountApp">
<form ng-controller="LedgerController">
  <div class="form-group">
    <label for="group_name">Ledger Name</label>
    <input type="text" ng-model="ledgerForm.name" class="form-control" id="group_name" placeholder="Ledger Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Parent Account</label>
    <input  ng-model="ledgerForm.account_group" type="text"  class="form-control" id="account_group" name="group" placeholder="" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Opening Balance</label>
    <input  ng-model="ledgerForm.opening_balance" type="decimal"  class="form-control" id="opening_balance" name="opening_balance" placeholder="Default 0.00" required>
  </div>
  <button type="button"  ng-click="submitForm()"  class="btn btn-primary submit">Add</button>
</form>

</div>
<div class="col-sm-12" id="bank_account_details">


	
</div>
</div>

<!-- Modal -->
<div id="bank_detail_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Account Details</h4>
      </div>
      <div class="modal-body">
        <form>
  
  <div class="form-group" id="the-basics">
    <label for="exampleInputPassword1">Effective Date for Reconciliation ?</label>
 <!--    <input type="text" id="nepaliDate1" class="nepali-calendar" value="2069-08-12"/> -->
    <input type="text" class="form-control nepali-calendar" id="reconciliation_date" value="2069-08-12" placeholder="2016-01-31">
  </div>
  <div class="form-group">
    <label for="group_name">Bank Name</label>
    <input type="text" class="form-control" id="group_name" placeholder="Bank Name">
  </div>
  <div class="form-group">
    <label for="group_name">A/C No.</label>
    <input type="text" class="form-control" id="group_name" placeholder="A/C No.">
  </div>
  <div class="form-group">
    <label for="group_name">A/C Holder's Name</label>
    <input type="text" class="form-control" id="group_name" placeholder="A/C Holder's Name">
  </div>
  <div class="form-group">
    <label for="group_name">Branch Name</label>
    <input type="text" class="form-control" id="group_name" placeholder="Branch Name">
  </div>
  <div class="form-group">
    <label for="group_name">Branch Code</label>
    <input type="text" class="form-control" id="group_name" placeholder="Branch Code">
  </div>
  <div class="form-group">
    <label for="group_name">Initial Balance</label>
    <input type="text" class="form-control" id="group_name" placeholder="Initial Balance">
  </div>
</form>
      </div>
      <div class="modal-footer">
       <!--  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>
{% endblock content %}

{% block javascript %}
	{{block.super}}
	<script type="text/javascript">

// 	$('#group').on('change', function(target) {
		
//   	// console.log('Selection: ' + suggestion);
// });
	</script>

  <script>

     $(document).ready(function(){
          $('#reconciliation_date').nepaliDatePicker();
     });
</script>

  <script src="{% static 'lib/js/plugins/select-2-min.js' %}"></script>

  <script src="{% static 'erp_accounts/coaccounts/ledger-autocomplete.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
{%endblock javascript %}

