{% extends "base.html" %}
{% load static %}

{% block title %}Add new Group{% endblock %}
{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'lib/css/plugins/select2-min.css' %}">
    <style type="text/css">

    </style>

    {% endblock %}

{% block content %}
<div class="row">
{% verbatim %}
<div class="col-sm-12"  ng-app="coAccountApp">

<form name="coAccountForm" ng-controller="CoAccountController">
  <div class="form-group">
    <label for="name">Group Name</label>
    <input ng-model="groupForm.name" name="name" type="text" class="form-control" id="name" placeholder="Group" required>
  </div>
  <div class="form-group" >
    <label for="exampleInputPassword1">Parent Account</label>
    <input  ng-model="groupForm.parent" type="text"  class="form-control" id="parent" name="parent" placeholder="" required>
  </div>
  <p>Group behaves like a Sub-Ledger ? <input type="checkbox" ng-model="groupForm.sub_ledger" /></p>
  <p>Nett Debit/Credit Balances for Reporting ? <input type="checkbox" ng-model="groupForm.report_balance" /></p>
  <p>Used for Calculation (eg. Taxes, Discounts) 
  (for Sales Invoice Entry) ? <input type="checkbox" ng-model="groupForm.use_tax"/></p>
<p>Method to Allocate when used in Purchase Invoice ? <input type="checkbox" ng-model="groupForm.purchase_invoice" /></p>
  <div class="row form-group">
      <div class="col-sm-4">
        <div class="col-sm-12">
          <a class="submit btn btn-primary" ng-click="submitForm()"id="submitBtn">Add group</a>
        </div>
      </div>
    </div>
  


  <!-- <button type="submit" class="btn btn-default">Add</button> -->
</form>

</div>
{% endverbatim %}

</div>
{% endblock content %}

{% block javascript %}
	{{block.super}}

  <script src="{% static 'lib/js/plugins/select-2-min.js' %}"></script>

	<script src="{% static 'erp_accounts/coaccounts/group-autocomplete.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
{%endblock javascript %}

