{% extends "base.html" %}
{% load static %}

{% block title %}Chart of Accounts{% endblock %}
{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'lib/css/plugins/select2-min.css' %}">
    <style>

.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

</style>

    {% endblock %}

{% block content %}
<div class="row">
{% verbatim %}
<div class="col-sm-12"  ng-app="coAccountApp">


</div>
{% endverbatim %}

</div>
{% endblock content %}

{% block javascript %}
	{{block.super}}

  <script src="{% static 'lib/js/plugins/select-2-min.js' %}"></script>

	<script src="{% static 'erp_accounts/coaccounts/group-autocomplete.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
  <script src="//d3js.org/d3.v3.min.js"></script>

<script src="{% static 'erp_accounts/coaccounts/coa-visualization.js' %}"></script>
{%endblock javascript %}

