{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Company Registration{% endblock %}

{% block content %}

<div class="col-sm-12"  ng-app="coAccountApp">
    <form ng-controller="CompanyInfoController" class="form-horizontal" method="post" >
        {% csrf_token %}

    <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Company Details</h3>
      <div class="form-group">
        <label for="group_name">Company Name</label>
        <input type="text" ng-model="companyForm.name" ng-value="Ace Higher Secondary School" class="form-control" id="group_name" placeholder="Company Name" required>
      </div>
      <div class="form-group">
        <label for="group_name">Registration No.</label>
        <input type="text" ng-model="companyForm.registration_no" class="form-control" value="5424544" id="group_name" placeholder="Registration no.">
    </div>
    <div class="form-group">
        <label for="group_name">PAN No.</label>
        <input type="text"  ng-model="companyForm.pan_no" class="form-control" value="601127384" id="group_name" placeholder="PAN No.">
    </div>

    </div>
  </div>
<!-- 
  <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Books and financial year details</h3>
      <div class="form-group">
        <label for="group_name">Financial Year from</label>
        <input  ng-model="companyForm.financial_year_from" type="date" class="form-control" id="group_name" placeholder="Financial Year from">
      </div>
      <div class="form-group">
        <label for="group_name">Book begining from</label>
        <input  ng-model="companyForm.book_begining_from" type="date" class="form-control" id="group_name" placeholder="Book begining from">
    </div> 
    </div>
  </div>
 -->


    <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Location Information</h3>
      <div class="form-group">
        <label for="group_name">Street</label>
        <input type="text" value="New Baneshwor"  ng-model="companyForm.street" class="form-control" id="group_name" placeholder="Street">
      </div>
      <div class="form-group">
        <label for="group_name">City</label>
        <input type="text"  ng-model="companyForm.city" value="Kathmandu" class="form-control" id="group_name" placeholder="City">
    </div>
    <div class="form-group">
        <label for="group_name">District</label>
        <select name="district"  ng-model="companyForm.district" id="district"  class="form-control">

<option value='taplejung'>Taplejung</option>
<option value='sankhuwasabha'>Sankhuwasabha</option>
<option value='solukhumbu'>Solukhumbu</option>
<option value='panchthar'>Panchthar</option>
<option value='ilam'>Ilam</option>
<option value='dhankuta'>Dhankuta</option>
<option value='terhathum'>Terhathum</option>
<option value='bhojpur'>Bhojpur</option>
<option value='okhaldhunga'>Okhaldhunga</option>
<option value='khotang'>Khotang</option>
<option value='udayapur'>Udayapur</option>
<option value='jhapa'>Jhapa</option>
<option value='morang'>Morang</option>
<option value='sunsari'>Sunsari</option>
<option value='saptari'>Saptari</option>
<option value='siraha'>Siraha</option>
<option value='dolakha'>Dolakha</option>
<option value='sindhupalchok'>Sindhupalchok</option>
<option value='rasuwa'>Rasuwa</option>
<option value='sindhuli'>Sindhuli</option>
<option value='ramechhap'>Ramechhap</option>
<option value='kavrepalanchok'>Kavrepalanchok</option>
<option value='nuwakot'>Nuwakot</option>
<option value='dhading'>Dhading</option>
<option value='makwanpur'>Makwanpur</option>
<option value='dhanusha'>Dhanusha</option>
<option value='mahottari'>Mahottari</option>
<option value='sarlahi'>Sarlahi</option>
<option value='rautahat'>Rautahat</option>
<option value='bara'>Bara</option>
<option value='parsa'>Parsa</option>
<option value='chitwan'>Chitwan</option>
<option value='lalitpur'>Lalitpur</option>
<option value='bhaktapur'>Bhaktapur</option>
<option value='kathmandu' selected="selected">Kathmandu</option>
<option value='manang'>Manang</option>
<option value='mustang'>Mustang</option>
<option value='gorkha'>Gorkha</option>
<option value='lamjung'>Lamjung</option>
<option value='tanahu'>Tanahu</option>
<option value='syangja'>Syangja</option>
<option value='kaski'>Kaski</option>
<option value='myagdi'>Myagdi</option>
<option value='parbat'>Parbat</option>
<option value='baglung'>Baglung</option>
<option value='gulmi'>Gulmi</option>
<option value='palpa'>Palpa</option>
<option value='arghakhanchi'>Arghakhanchi</option>
<option value='nawalparasi'>Nawalparasi</option>
<option value='rupandehi'>Rupandehi</option>
<option value='kapilbastu'>Kapilbastu</option>
<option value='dolpa'>Dolpa</option>
<option value='jumla'>Jumla</option>
<option value='kalikot'>Kalikot</option>
<option value='mugu'>Mugu</option>
<option value='humla'>Humla</option>
<option value='pyuthan'>Pyuthan</option>
<option value='rolpa'>Rolpa</option>
<option value='rukum'>Rukum</option>
<option value='salyan'>Salyan</option>
<option value='surkhet'>Surkhet</option>
<option value='dailekh'>Dailekh</option>
<option value='jajarkot'>Jajarkot</option>
<option value='dang'>Dang</option>
<option value='banke'>Banke</option>
<option value='bardiya'>Bardiya</option>
<option value='bajura'>Bajura</option>
<option value='bajhang'>Bajhang</option>
<option value='darchula'>Darchula</option>
<option value='achham'>Achham</option>
<option value='doti'>Doti</option>
<option value='dadeldhura'>Dadeldhura</option>
<option value='baitadi'>Baitadi</option>
<option value='kailali'>Kailali</option>
        </select>
    </div>

    <div class="form-group">
        <label for="zone_name">Zone</label>
        <select  ng-model="companyForm.zone" class="form-control" id="zone_name" name="zone_name">
            <option value="bagmati" selected="selected">Bagmati</option>
            <option value="Gandaki">Gandaki</option>
        </select>
    </div>

    <div class="form-group">
        <label for="country_name">Country</label>
        <select  ng-model="companyForm.country" class="form-control" id="country_name" name="country">
            <option value="nepal" selected="selected">Nepal</option>
            <option value="india">India</option>
        </select>
        
    </div>

    </div>
  </div>



    <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Currency Information</h3>
      <div class="form-group">
        <label for="group_name">Currency Symbol</label>
        <input type="text"  ng-model="companyForm.currency_symbol" class="form-control" id="group_name" value="NRs." placeholder="Currency Symbol">
      </div>
      <div class="form-group">
        <label for="group_name">Formal Name</label>
        <input type="text"  ng-model="companyForm.currency_formal_name" class="form-control" value="Nepalese Rupee" id="group_name" placeholder="Formal Name">
    </div>

    <div class="form-group">
        <label for="group_name">No. of decimal places</label>
        <input type="text"  ng-model="companyForm.decimal_places" class="form-control" id="group_name" value="2"  placeholder="No of decimal places">
    </div>
    <div class="form-group">
        <label for="group_name">Word used to print decimal portion of amount</label>
        <input type="text" ng-model="companyForm.decimal_word" class="form-control" id="group_name" value="paisa" placeholder="Word used to print decimal portion of amount">
    </div>

    <div class="form-group">
        <label for="group_name">Decimal places for printing amount in words</label>
        <input type="text" ng-model="companyForm.decimal_printing_word" class="form-control" id="group_name" value="2" placeholder="Decimal places for printing amount in words">
    </div>

    <div class="form-group">
        <label for="group_name">Is symbol affixed to amount ? </label>
        <input type="checkbox" ng-model="companyForm.affixed_amount" class="form-control" id="group_name" placeholder="District">
    </div>

    <div class="form-group">
        <label for="group_name">Add space between amount and symbol </label>
        <input type="checkbox" ng-model="companyForm.space_amount_symbol" class="form-control" id="group_name" placeholder="Zone">
    </div>

    <div class="form-group">
        <label for="group_name">Show amount in millions ?</label>
        <input type="checkbox" ng-model="companyForm.amount_millions" class="form-control" id="group_name">
    </div>

    <div class="control-group">
          <div class="controls">
            <button type="submit" ng-click="submitForm()" class="btn btn-primary">Create</button>
          </div>
        </div>

    </div>
  </div>

    </form>
</div>
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{% static 'erp_accounts/coaccounts/form-validator.js' %}"></script>
<script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
{% endblock %}
