{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Company Registration{% endblock %}

{% block content %}

{% verbatim %}
<div class="col-sm-12"  ng-app="coAccountApp">
    <form ng-controller="CompanyInfoDisplayController" class="form-horizontal" method="post" >


    <div class="col-sm-12">
    <div class="card card-block">


      <h3 class="card-title">Company Details</h3>
      <table class="table">
<thead class="thead-default">

<tbody>
<tr>
<td>Company Name</td>
<td>{{companyForm.name}}</td>
</tr>
<tr>
<td>Registration No.</td>
<td>{{companyForm.registration_no}}</td>
</tr>
<tr>
<td>PAN No.</td>
<td>{{companyForm.pan_no}}</td>
</tr>
</tbody>
</table>
</div>

  </div>

    <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Location Information</h3>

            <table class="table">
<thead class="thead-default">

<tbody>
<tr>
<td>Street</td>
<td>{{companyForm.street}}</td>
</tr>
<tr>
<td>City</td>
<td>{{companyForm.city}}</td>
</tr>
<tr>
<td>District</td>
<td>{{companyForm.district}}</td>
</tr>
<tr>
<td>Zone</td>
<td>{{companyForm.zone}}</td>
</tr>
<tr>
<td>Country</td>
<td>{{companyForm.country}}</td>
</tr>
</tbody>
</table>


    </div>
  </div>



    <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Currency Information</h3>
                  <table class="table">
<thead class="thead-default">

<tbody>
<tr>
<td>Currency Symbol</td>
<td>{{companyForm.currency_symbol}}</td>
</tr>
<tr>
<td>Formal Name</td>
<td>{{companyForm.formal_name}}</td>
</tr>
<tr>
<td>No. of decimal places</td>
<td>{{companyForm.decimal_places}}</td>
</tr>
<tr>
<td>Word used to print decimal portion of amount</td>
<td>{{companyForm.decimal_word}}</td>
</tr>
<tr>
<td>Decimal places for printing amount in words</td>
<td>{{companyForm.decimal_printing_word}}</td>
</tr>

<tr>
<td>Is symbol affixed to amount ?</td>
<td>{{companyForm.affixed_amount}}</td>
</tr>
<tr>
<td>Add space between amount and symbol</td>
<td>{{companyForm.space_amount_symbol}}</td>
</tr>
<tr>
<td>Show amount in millions ?</td>
<td>{{companyForm.amount_millions}}</td>
</tr>
<tr>
<td>Show amount in millions ?</td>
<td><a type="button" href="/erp-accounts/coaccounts/company/update/" ng-click="submitForm()" class="btn btn-primary">Edit</a>
<a type="button" href="/erp-accounts/coaccounts/fiscal-year/add/" class="btn pull-xs-right btn-primary">Okay</a>
</td>
</tr>
</tbody>
</table>

    </div>
  </div>

    </form>
</div>

{% endverbatim %}
{% endblock %}

{% block javascript %}
{{block.super}}
<script src="{% static 'erp_accounts/coaccounts/form-validator.js' %}"></script>
<script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
{% endblock %}
