{% extends "base.html" %}
{% load static %}

{% block title %}Add Fiscal Year{% endblock %}
{% block css %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'lib/css/plugins/select2-min.css' %}">
  <link rel="stylesheet" href="{% static 'erp_accounts/datepicker/css/nepali-datepicker.css' %}">
    <style type="text/css">

    </style>

    {% endblock %}

{% block content %}
<div class="row">
{% verbatim %}
<div class="col-sm-12"  ng-app="coAccountApp">

<form ng-controller="FiscalYearController">

  <div class="col-sm-12">
    <div class="card card-block">
      <h3 class="card-title">Fiscal Year</h3>
        <div class="form-group">
    <label for="fiscal_year_from">Fiscal Year from (B.S)</label>
    <input name="fiscal_year_from" ng-model="fiscalYearForm.fiscal_year_from" type="text" class="form-control" id="fiscal_year_from" placeholder="Fiscal Year from" required>
  </div>
  <div class="form-group" >
    <label for="fiscal_year_to">Fiscal Year To (B.S)</label>
    <input  ng-model="fiscalYearForm.fiscal_year_to" type="type"  class="form-control" id="fiscal_year_to" name="fiscal_year_to" placeholder="Fiscal Year to" required>
  </div>
  </div>
  </div>

  <div class="row form-group">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <a class="submit btn btn-primary pull-xs-right" ng-click="submitForm()"id="submitBtn">Add Fiscal Year</a>
        </div>
      </div>
    </div>
</form>

</div>
{% endverbatim %}

</div>
{% endblock content %}

{% block javascript %}
	{{block.super}}

  <script src="{% static 'lib/js/plugins/select-2-min.js' %}"></script>

	<script src="{% static 'erp_accounts/coaccounts/group-autocomplete.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/app.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/services/CoAccountServices.js' %}"></script>
  <script src="{% static 'erp_accounts/coaccounts/angular/controllers/CoAccountController.js' %}"></script>
  <script src="{% static 'erp_accounts/datepicker/js/nepali-datepicker.js' %}"></script>
  <script type="text/javascript">
$('#fiscal_year_from').nepaliDatePicker();
$('#fiscal_year_to').nepaliDatePicker();
  </script>
{%endblock javascript %}

