{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<table border="1">
	<tr>
		<th>S.N.</th>
		<th>Date</th>
		<th>Description</th>
		<th>Debit</th>
		<th>Credit</th>
		<th></th>
	</tr>
	{% for journal in object_list %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td>{{journal.journal_date}}</td>
		<td>{{journal.description}}</td>
		<td>
			{{journal.total_debit.amount}}
		</td>
		<td>
			{{journal.total_credit.amount}}
		</td>
		<td>
			<a class="btn btn-primary" href = "{% url 'journal:journal-update' journal.pk %}">Update</a>
		</td>
	</tr>
	
	{% endfor %}
	</table>
{% endblock content %}