{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="{% static 'lib/bower_components/angular-progress-button-styles/dist/angular-progress-button-styles.min.css' %}">

	{{block.super}}

{% endblock %}

{% block content %}

{% verbatim %}
<div ng-app="journalApp">
	<div class="head-block">
		<h1>Journal Entry</h1>
	</div>

	<form name="newForm" ng-submit="submitForm()" ng-controller="JournalController">
		
		<div class="row form-group">
			<div class="col-sm-6">
				<div class="col-sm-12">
					<label for="journal_date">Date</label>
				</div>
				<div class="col-sm-12">
					<input type="date" name="journal_date" class="form-control" ng-model="journalForm.journal_date" ng-required required>
				</div>
				
			</div>
		</div>
		
		<transactions></transactions>
		<div class="row form-group">
			<div class="col-sm-6">
				<div class="col-sm-12">
					<label for="description">Description</label>
				</div>
				<div class="col-sm-12">
					<input name="description" class="form-control" ng-model="journalForm.description" ng-required="required">
				</div>
				
			</div>
		</div>

		<div class="row form-group">
			<div class="col-sm-4">
				<div class="col-sm-12">
					<button type="submit" ng-click=""   title="{{formError}}" id="submitBtn" ng-disabled="!formValid()" ng-class="{disabled: !formValid()}" data-horizontal pb-style="shrink" progress-button="submitForm()" style="max-height:60px">Submit</button>
				</div>
			</div>
		</div>
	<pre>{{ journalForm }}</pre>
	</form>

</div>
{% endverbatim %}
	
{% endblock content %}

{% block javascript %}
	{{block.super}}
	
	<!-- Angularjs -->
	
		<script src="{% static 'erp_accounts/journal/angular/app.js' %}">
		</script>
		<script src="{% static 'erp_accounts/journal/angular/services/JournalServices.js' %}">
		</script>
		<script src="{% static 'erp_accounts/journal/angular/controllers/JournalController.js' %}">
		</script>
		<script src="{% static 'erp_accounts/journal/angular/directives/JournalDirective.js' %}">
		</script>

		<script type="text/javascript" src="{% static 'lib/bower_components/angular-progress-button-styles/dist/angular-progress-button-styles.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'lib/bower_components/angular-bootstrap-show-errors/src/showErrors.min.js' %}"></script>
	<!-- end angular -->

		<script>
			var globalVars = {};

			globalVars['ajax_url'] = "{% url 'journal:journal-list-create-api' %}";
			globalVars['method'] = 'POST';

			{% if ajax_url %}
				globalVars['ajax_url'] = "{{ajax_url}}";
				globalVars['method'] = 'PUT';
			{% endif %}
		</script>
{% endblock javascript %}