{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	
	<form action="">
		<div class="form-inline row">
			<div class="form-group">
				<label for="description">Description</label>
				<input name="description" class="form-control">
			</div>
		</div>
		<div class="form-inline row">
			<div class="form-group">
				<label for="Amount">Amount</label>
				<input type="decimal" name="amount" class="form-control">

				<label for="type">Type</label>
				<select name="type" class="form-control">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                </select>

                <label for="type">Ledger</label>
				<select name="type" class="form-control">
                    <option value="debit">NIBL</option>
                    <option value="credit">Everest</option>
                </select>
			</div>
		</div>

		<div class="form-inline row">
			<div class="form-group">
				<label for="Amount">Amount</label>
				<input type="decimal" name="amount" class="form-control">

				<label for="type">Type</label>
				<select name="type" class="form-control">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                </select>

                <label for="type">Ledger</label>
				<select name="type" class="form-control">
                    <option value="debit">NIBL</option>
                    <option value="credit">Everest</option>
                </select>


			</div>
		</div>
	</form>
	
{% endblock content %}

{% block javascript %}
	{{block.super}}
	<script src="{% static 'erp_accounts/journal/add-more-fields.js' %}"></script>
{%endblock javascript %}