<!-- repeat -->
<div ng-repeat="transaction in journalForm.transactions" class="form-group">
    <div class="input_fields_wrap">
	    <div id="firstLedger" class="row form-group">
	        <div class="col-sm-10">
	        	<div class="col-sm-4">
	                <label for="type">
	                	<span ng-if="isDebit(transaction.transaction_type)">By</span>
	                	<span ng-if="!isDebit(transaction.transaction_type)">To</span>

	                </label>
	                <select name="type" class="form-control" ng-model="transaction.ledger">
	                    <option value="nibl">NIBL</option>
	                    <option value="everest">Everest</option>
	                </select>
	            </div>
	            <div class="col-sm-4">
	                <label for="Amount" ng-if="isDebit(transaction.transaction_type)">Debit</label>
	                <input type="decimal" name="amount" class="form-control" ng-model="transaction.amount"ng-if="isDebit(transaction.transaction_type)">
	            </div>
	            <div class="col-sm-4">
	                <label for="Amount" ng-if="!isDebit(transaction.transaction_type)">Credit</label>
	                <input type="decimal" name="amount" class="form-control" ng-model="transaction.amount"ng-if="!isDebit(transaction.transaction_type)">
	            </div>
	            
	        </div>
	        <div class="col-sm-2">
	            <div> &nbsp;</div>
	            <a href="#" class="remove_field " ng-click="removeJournal(transaction.id)">Remove</a>
	        </div>
	    </div>
	</div>
	<cheque-receipts></cheque-receipts>
</div>
<!-- endrepeat -->

<div class="row form-group">
	<div class="col-sm-4">
		<div class="col-sm-12">
			<a class="submit btn btn-primary add_field_button" ng-click="addTransaction()">Add More transaction</a>
		</div>
	</div>
</div>