{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
    <a href="/erp-accounts/coaccounts/company/create/">Add New company</a><br/>
      <a href="/erp-accounts/coaccounts/group/add/">Add Group</a><br/>
      <a href="/erp-accounts/coaccounts/ledger/add/">Add Ledger</a>
      <a href="/erp-accounts/coaccounts/load/fixtures/">Chart of Accounts</a>
    </div>
  </div>


</div>
{% endblock content %}

